In [1]:
import pandas as pd

In [2]:
#Load data
train_ratings = pd.read_csv("/content/drive/MyDrive/BIA project/data/train_full.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train_ratings.head()

  customer_id gender  status_x  ...  id_obj CID X LOC_NUM X VENDOR target
0     TCHWPBT   Male         1  ...       4        TCHWPBT X 0 X 4      0
1     TCHWPBT   Male         1  ...      13       TCHWPBT X 0 X 13      0
2     TCHWPBT   Male         1  ...      20       TCHWPBT X 0 X 20      0
3     TCHWPBT   Male         1  ...      23       TCHWPBT X 0 X 23      0
4     TCHWPBT   Male         1  ...      28       TCHWPBT X 0 X 28      0

[5 rows x 73 columns]

In [4]:
train_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5802400 entries, 0 to 5802399
Data columns (total 73 columns):
 #   Column                  Dtype
---  ------                  -----
 0   customer_id             object
 1   gender                  object
 2   status_x                int64
 3   verified_x              int64
 4   created_at_x            object
 5   updated_at_x            object
 6   location_number         int64
 7   location_type           object
 8   latitude_x              float64
 9   longitude_x             float64
 10  id                      int64
 11  authentication_id       float64
 12  latitude_y              float64
 13  longitude_y             float64
 14  vendor_category_en      object
 15  vendor_category_id      float64
 16  delivery_charge         float64
 17  serving_distance        float64
 18  is_open                 float64
 19  OpeningTime             object
 20  OpeningTime2            object
 21  prepration_time         int64
 22  commission              float64
 23  is_akeed_delivering     object
 24  discount_percentage     float64
 25  status_y                float64
 26  verified_y              int64
 27  rank                    int64
 28  language                object
 29  vendor_rating           float64
 30  sunday_from_time1       object
 31  sunday_to_time1         object
 32  sunday_from_time2       object
 33  sunday_to_time2         object
 34  monday_from_time1       object
 35  monday_to_time1         object
 36  monday_from_time2       object
 37  monday_to_time2         object
 38  tuesday_from_time1      object
 39  tuesday_to_time1        object
 40  tuesday_from_time2      object
 41  tuesday_to_time2        object
 42  wednesday_from_time1    object
 43  wednesday_to_time1      object
 44  wednesday_from_time2    object
 45  wednesday_to_time2      object
 46  thursday_from_time1     object
 47  thursday_to_time1       object
 48  thursday_from_time2     object
 49  thursday_to_time2       object
 50  friday_from_time1       object
 51  friday_to_time1         object
 52  friday_from_time2       object
 53  friday_to_time2         object
 54  saturday_from_time1     object
 55  saturday_to_time1       object
 56  saturday_from_time2     object
 57  saturday_to_time2       object
 58  primary_tags            object
 59  open_close_flags        float64
 60  vendor_tag              object
 61  vendor_tag_name         object
 62  one_click_vendor        object
 63  country_id              float64
 64  city_id                 float64
 65  created_at_y            object
 66  updated_at_y            object
 67  device_type             int64
 68  display_orders          int64
 69  location_number_obj     int64
 70  id_obj                  int64
 71  CID X LOC_NUM X VENDOR  object
 72  target                  int64
dtypes: float64(16), int64(12), object(45)
memory usage: 3.2+ GB

In [5]:
#creating new df with customer_id, id, vendor_rating

train_df = train_ratings[['customer_id','id','vendor_rating']]

In [6]:
train_df.head()

  customer_id  id  vendor_rating
0     TCHWPBT   4            4.4
1     TCHWPBT  13            4.7
2     TCHWPBT  20            4.5
3     TCHWPBT  23            4.5
4     TCHWPBT  28            4.4

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5802400 entries, 0 to 5802399
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   customer_id    object
 1   id             int64
 2   vendor_rating  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 132.8+ MB

In [8]:
#check for NA or inf values 
print(train_df.isna().sum())

customer_id      0
id               0
vendor_rating    0
dtype: int64

In [9]:
#create new column all for new key to delete duplicate rows
cols = ['customer_id', 'id']
train_df['all'] = train_df[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
train_df.drop_duplicates(['all'], inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3452300 entries, 0 to 5802399
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   customer_id    object
 1   id             int64
 2   vendor_rating  float64
 3   all            object
dtypes: float64(1), int64(1), object(2)
memory usage: 131.7+ MB

In [12]:
#One hot encoding of customer id
from sklearn import preprocessing

customer_id_1e = preprocessing.LabelEncoder()

customer_id_1e.fit(train_df['customer_id'])

print("Number of unique customers: ", str(len(customer_id_1e.classes_)))
print("Number of unique vendors: ", str(train_df['id'].nunique()))

Number of unique customers:  34523
Number of unique vendors:  100

In [13]:
#Translate customer id to number form

train_df_1 = train_df
train_df_1.customer_id = customer_id_1e.transform(train_df.customer_id)
train_df_1.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

   customer_id  id  vendor_rating         all
0        28177   4            4.4   TCHWPBT_4
1        28177  13            4.7  TCHWPBT_13
2        28177  20            4.5  TCHWPBT_20
3        28177  23            4.5  TCHWPBT_23
4        28177  28            4.4  TCHWPBT_28

In [14]:
train_df_1.drop('all',axis=1)

         customer_id   id  vendor_rating
0              28177    4            4.4
1              28177   13            4.7
2              28177   20            4.5
3              28177   23            4.5
4              28177   28            4.4
...              ...  ...            ...
5802395        20387  849            4.1
5802396        20387  855            4.2
5802397        20387  856            4.3
5802398        20387  858            4.2
5802399        20387  907            4.3

[3452300 rows x 3 columns]

In [15]:
train_df_2 = train_df_1[['customer_id', 'id', 'vendor_rating']]
train_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3452300 entries, 0 to 5802399
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   customer_id    int64
 1   id             int64
 2   vendor_rating  float64
dtypes: float64(1), int64(2)
memory usage: 105.4 MB

In [16]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 42 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 36.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=4c9163077c77e2e82e29d3b7880496b621ece646ae0792b85ac2da6868b9c8ce
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [17]:
#creating spark session
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext

from pyspark.mllib.recommendation import *

sc = SparkContext.getOrCreate()
sc.stop()
sc = SparkContext('local', 'Recommender')
sqlContext = SQLContext(sc)

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:79: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [18]:
#convert pandas dataframe into rdd
train_df_rdd = sqlContext.createDataFrame(train_df_2).rdd

In [19]:
train_df_rdd.take(5)

[Row(customer_id=28177, id=4, vendor_rating=4.4),
 Row(customer_id=28177, id=13, vendor_rating=4.7),
 Row(customer_id=28177, id=20, vendor_rating=4.5),
 Row(customer_id=28177, id=23, vendor_rating=4.5),
 Row(customer_id=28177, id=28, vendor_rating=4.4)]

In [20]:
#Splitting data into train, val and test rdds

train_rdd, val_rdd, test_rdd = train_df_rdd.randomSplit([6,2,2],42)
val_for_pred_rdd = val_rdd.map(lambda x: (x[0], x[1]))
test_for_pred_rdd = test_rdd.map(lambda x: (x[0], x[1]))

print("Train RDD\n", train_rdd.take(5),"\n")
print("Validation for prediction RDD\n", val_for_pred_rdd.take(5),"\n")
print("Test for prediction RDD\n", test_for_pred_rdd.take(5),"\n")

Train RDD
 [Row(customer_id=28177, id=4, vendor_rating=4.4), Row(customer_id=28177, id=13, vendor_rating=4.7), Row(customer_id=28177, id=20, vendor_rating=4.5), Row(customer_id=28177, id=23, vendor_rating=4.5), Row(customer_id=28177, id=28, vendor_rating=4.4)]

Validation for prediction RDD
 [(28177, 33), (28177, 76), (28177, 86), (28177, 92), (28177, 115)]

Test for prediction RDD
 [(28177, 66), (28177, 75), (28177, 81), (28177, 85), (28177, 90)]

In [21]:
import math

seed = 42
iterations = 10
lambdas = [0.001, 0.01, 0.1]
ranks = [16, 32, 64]
errors = [0 for x in range(len(ranks)*len(lambdas))]
err_index = 0

for lambda_ in lambdas:
  for rank in ranks:
    model = ALS.train(train_rdd, rank, seed = seed, iterations=iterations, lambda_=lambda_)
    predictions = model.predictAll(val_for_pred_rdd).map(lambda r: ((r[0], r[1]), r[2]))
    ratings_and_preds = val_rdd.map(lambda r: ((int(r[0]), int(r[1])), float(r[2]))).join(predictions)
    error = math.sqrt(ratings_and_preds.map(lambda r: (r[1][0] - r[1][1])**2).mean())
    errors[err_index] = error
    err_index+=1
    print('For rank {0} at lambda: {1}, the RMSE is {2}'.format(rank, lambda_, error))

For rank 16 at lambda: 0.001, the RMSE is 0.022544435005567895
For rank 32 at lambda: 0.001, the RMSE is 0.006985169903862695
For rank 64 at lambda: 0.001, the RMSE is 0.00351967729579193
For rank 16 at lambda: 0.01, the RMSE is 0.13079477295186043
For rank 32 at lambda: 0.01, the RMSE is 0.0765385283333102
For rank 64 at lambda: 0.01, the RMSE is 0.06067927227968845
For rank 16 at lambda: 0.1, the RMSE is 0.19778849495417283
For rank 32 at lambda: 0.1, the RMSE is 0.206145507893568
For rank 64 at lambda: 0.1, the RMSE is 0.19973748644177378

In [22]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.ml.recommendation import ALS

In [23]:
als = ALS(userCol='customer_id', itemCol='id', ratingCol='vendor_rating', nonnegative=True, implicitPrefs = False, coldStartStrategy='drop')

In [24]:
from pyspark.sql import SparkSession

spark = SparkSession\
    .builder\
    .appName("ALSrecommender")\
    .getOrCreate()

In [25]:
new_train_rdd = spark.createDataFrame(train_df_2)

In [26]:
(training, val, test) = new_train_rdd.randomSplit([0.6,0.2,0.2],42)

In [27]:
best_als_model = ALS(maxIter=10, regParam=0.001, userCol='customer_id', itemCol='id', ratingCol="vendor_rating", coldStartStrategy="drop", rank=64)

In [28]:
final_model = best_als_model.fit(training)

In [29]:
predictions = final_model.transform(test)

In [30]:
evaluator = RegressionEvaluator(metricName="rmse", labelCol="vendor_rating", predictionCol="prediction")

In [31]:
rmse = evaluator.evaluate(predictions)

In [32]:
print("Root mean squared error = " + str(rmse))

Root mean squared error = 0.0022238419206284626

In [33]:
#Generate top 10 vendor recommendations for each customer
custRecs = final_model.recommendForAllUsers(10)

#Generate top 10 customer recommendations for each vendor
vendRecs = final_model.recommendForAllItems(10)

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [34]:
## Generate top 10 vendor recommendations for a specified set of customers

customers = new_train_rdd.select(best_als_model.getUserCol()).distinct().limit(3)
custSubsetRecs = final_model.recommendForUserSubset(customers, 10)

# Generate top 10 customer recommendations for a specified set of vendors

vendors = new_train_rdd.select(best_als_model.getItemCol()).distinct().limit(3)
vendSubSetRecs = final_model.recommendForItemSubset(vendors, 10)

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [35]:
custRecs.show()

+-----------+--------------------+
|customer_id|     recommendations|
+-----------+--------------------+
|          0|[{310, 4.797579},...|
|          1|[{115, 4.797552},...|
|          2|[{115, 4.7975435}...|
|          3|[{310, 4.7975245}...|
|          4|[{310, 4.7975435}...|
|          5|[{310, 4.7975516}...|
|          6|[{310, 4.7975287}...|
|          7|[{310, 4.797538},...|
|          8|[{310, 4.797517},...|
|          9|[{310, 4.797567},...|
|         10|[{310, 4.797529},...|
|         11|[{310, 4.7975726}...|
|         12|[{310, 4.7975516}...|
|         13|[{115, 4.797581},...|
|         14|[{310, 4.79756}, ...|
|         15|[{310, 4.7975583}...|
|         16|[{310, 4.797527},...|
|         17|[{115, 4.797552},...|
|         18|[{310, 4.7975225}...|
|         19|[{310, 4.7975545}...|
+-----------+--------------------+
only showing top 20 rows

In [36]:
vendRecs.show()

+---+--------------------+
| id|     recommendations|
+---+--------------------+
|300|[{34246, 4.397847...|
| 20|[{34246, 4.497798...|
|250|[{34246, 4.497798...|
|310|[{34246, 4.797647...|
|160|[{34246, 4.297896...|
| 90|[{34246, 4.397847...|
|110|[{34246, 4.597747...|
|180|[{34246, 3.798144...|
| 81|[{34246, 3.798144...|
|271|[{34246, 4.497798...|
|191|[{34246, 4.497798...|
|231|[{34246, 4.297896...|
|161|[{34246, 4.197945...|
|391|[{34246, 4.197945...|
|221|[{34246, 4.197945...|
|201|[{34246, 3.998045...|
|681|[{34246, 4.397847...|
|841|[{34246, 3.998045...|
|401|[{34246, 4.497798...|
|192|[{34246, 4.297896...|
+---+--------------------+
only showing top 20 rows

In [37]:
custSubsetRecs.show()

+-----------+--------------------+
|customer_id|     recommendations|
+-----------+--------------------+
|      19771|[{115, 4.7974863}...|
|      18196|[{310, 4.797581},...|
|      13638|[{115, 4.797519},...|
+-----------+--------------------+

In [38]:
vendSubSetRecs.show()

+---+--------------------+
| id|     recommendations|
+---+--------------------+
|191|[{34246, 4.497798...|
|243|[{34246, 4.397847...|
|113|[{34246, 4.697697...|
+---+--------------------+